*{
    box-sizing: border-box;
}

.b{
    background-color: rgb(207, 245, 40);
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-1{
    background-color: rgb(235, 154, 23);
    width: 95%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.b-1-1{
    background-color: rgb(102, 171, 232);
    width: 95%;
    height: 25%;
}
.b-1-1:last-child{
    height: 40%;
}
.b-1-1-1{
    background-color: rgb(44, 131, 208);
    width: 50px;
    height: 50px;
}
.b-1-1-1-1{
    background-color: rgb(0, 83, 155);
}

.a{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3%;
}

.a1, .a2{
    height: 85%;
    width: 30%;
}

.b1{
    width: 95%;
    height: 80%;
    display: flex;
    
    align-items: flex-end;
    justify-content: space-around;
}

.b11, .b12{
    width: 40%;
    height: 30%;
    margin-bottom: 1%;
}

.c{
    display: flex;
    justify-content:  space-between;
    flex-direction: column;
}

.c1{
    align-self: flex-start;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.c2{
    width: 95%;
    margin-bottom: 1%;
    align-self: flex-end;
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.c11{
    width: 50%;
    height: 50%;
}

.ex2{
    width: 100%;
    margin: 30px;
}

.block{
    width: 50px;
    height: 50px;
    border: 1px solid #c91616;

    animation-duration: 6s;
    animation-name: box;
    animation-iteration-count: infinite;
}

@keyframes box{
    from{
        margin-left: 0%;
    }
    50%{
        margin-left: 85%;
    }
    to{
        margin-left: 0%;
    }
}