.todo{
    text-align: center;
    margin: 50px auto;
}

.todo h1{
    margin-bottom: 30px;
}

.tasks{
    /* margin: 0 ; */
}

.add{
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.add input{
    width: 360px;
    border-radius: 15px;
    padding: 0 10px;
}

.add img{
    height: 30px;
}